- if @list
  %h1= @list.title

  = form_tag archive_list_path(@list.list_uuid), method: :delete do
    - @list.items.each do |item|
      .checkbox
        %label
          = check_box_tag item.id, 'true', item.checked, { data: { 'update-url' => api_list_item_path(@list.list_uuid, item) } }
          = item.title
    = button_tag 'Delete this list', class: 'btn btn-danger', type: :submit, data: { confirm: 'Are you sure?' }

  %hr

  %h2 Need more items?
  .row
    .col-sm-3
      = form_for @new_item, url: list_items_path(list_uuid: @list.list_uuid) do |f|
        .form-group
          = f.text_field :title, class: 'form-control', placeholder: 'new item name'
        = f.button 'Add a new item', class: 'btn btn-primary', type: :submit

- else
  .alert.alert-danger{ role: :alert }
    %strong
      Oops!
    This list has been deleted already.

= content_for :script do
  :javascript
    var checkboxes = document.querySelectorAll('input[type=checkbox]')
    for (var i=0; i<checkboxes.length; ++i) {
      var box = checkboxes[i];
      box.addEventListener('change', function(event) {
        var request = jQuery.ajax(event.target.dataset.updateUrl, {
          method: 'PUT',
          data: { checked: event.target.checked + '' }
        });
        //request.done(function() {});
        //request.fail(function(jqXHR, textStatus) {});
      });
    }
